@font-face {
    font-family: 'Agrandir';
    src: url('../../../public/fonts/Agrandir-Regular.otf') format('opentype');
  }

.button{
    font-family: 'Agrandir';
    max-width: 10vw;
    width: 10vw;
    max-height: 5.5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(45deg, #5832ff, #9B75FF);
    border: 1px solid #e6e6e6;
    border-radius: 7px;
    font-size: 18px;
    align-items: center;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
}

.button:hover {
    cursor: pointer;
    background-image: linear-gradient(45deg, #9B75FF, #5832ff);
}