@font-face {
    font-family: 'Agrandir';
    src: url('../../../public/fonts/Agrandir-TextBold.otf') format('opentype');
}
@font-face {
    font-family: 'Agrandir-Regular';
    src: url('../../../public/fonts/Agrandir-Regular.otf') format('opentype');
}

.PurpleSquare {
    width: 40vw; /* 40% da largura da viewport */
    height: 80vh;
    background-color: #5800ff;
    position: fixed;
    top: 50%;
    left: 32.5%;
    transform: translate(-50%, -50%);
    border-radius: 20px 0px 0px 20px;
}

.WhiteSquare{
    width: 40vw; /* 40% da largura da viewport */
    height: 80vh;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 67.5%;
    transform: translate(-50%, -50%);
    border-radius: 0px 20px 20px 0px;
}

.logoPoli {
    width: 11.5vw;
    position: fixed; 
    top: 81.5%;
    left: 71%;
}

.logoP {
    width: 6.7vw;
    position: fixed; 
    top: 7vh; /* 5% da altura da viewport */
    left: 15vw;
}

.Balance {
    position: fixed;
    top: 45vh; /* 45% da altura da viewport */
    left: 7.4vw;
}

.BalanceSquare {
    width: 25vw; /* 25% da largura da viewport */
    height: 13vh;
    background-color: #bca2fd;
    border-radius: 15px;
}

.BalanceText {
    position: relative;
    font-family: 'Agrandir-Regular';
    font-size: 25px;
    line-height: 35px;
    color: #fff;
}

.WelcomeText{
    font-family: 'Agrandir-Regular';
    color: #fff;
}

.HelloContainer{
    display: flex;
    flex-direction: column;
}

.Hello {
    font-size: 2.3vw;
    position: absolute;
    top: 21vh; /* 15% da altura da viewport */
    left: 9.7vw;
    word-wrap: break-word;
    max-width: 500px;
  }
  
  .HelloText {
    font-size: 1.5vw;
    position: absolute;
    top: calc(19vh + 5vw); /* 15% da altura da viewport + 5% da largura da viewport */
    left: 9.8vw;
  }
  
.BalanceNumber{
    font-family: 'Agrandir-Regular';
    color: #fff;
    font-size: 3.5vw;
    position: absolute;
    top: 6.2vh; /* 15% da altura da viewport + 5% da largura da viewport */
    left: 4.7vw;
}
