@font-face {
    font-family: 'Agrandir';
    src: url('../../../public/fonts/Agrandir-TextBold.otf') format('opentype');
  }

.usericon {
    width: 27px;
    position: absolute;
    top: 48px;
    left: 80px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.passicon {
    width: 25px;
    position: absolute;
    top: 120px;
    left: 80px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 450px;
    margin: 0 auto;
    color: #fff;
    position: absolute;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
}
  
.form .email {
    font-family: 'Agrandir';
    width: 350px;
    height: 15px;
    display: flex;
    position: flex;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: #e6e6e6;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    text-indent: 35px;
}
  
.form .password {
    font-family: 'Agrandir';
    width: 350px;
    height: 15px;
    display: flex;
    margin: 15px auto;
    padding: 20px;
    background: #e6e6e6;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    text-indent: 35px;
}


.form .loginButton {
    font-family: 'Agrandir';
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(45deg, #5832ff, #9B75FF);
    border: 1px solid #e6e6e6;
    border-radius: 7px;
    font-size: 18px;
    line-height: 20px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.loginButton:hover {
    cursor: pointer;
    background-image: linear-gradient(45deg, #9B75FF, #5832ff);
}

.Link{
    text-decoration: none;
}

